@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-[#242424] font-sans scroll-smooth tracking-wide;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-radius: 3rem;
  }

  ::-webkit-scrollbar-track {
    background-color: #cbd5e0;
  }

  :focus-visible {
    outline: none;
  }

  textarea {
    resize: none;
  }

  a,
  img {
    -webkit-user-drag: none;
    user-select: none;
  }

  canvas {
    width: 100%;
    height: auto;
  }
  .material-symbols-outlined{
    line-height: normal;
  }
}

@layer components {
  /* HOME PAGE */
  .carousel-card {
    @apply inline-block 
            h-[180px] w-[220px] 
            rounded-xl px-5 mr-4
            text-[#5386e4];
  }
  .carousel-content {
    @apply flex flex-col justify-between items-center 
            h-full whitespace-normal  
            text-center text-lg lg:text-xl;
  }
  /* HOME PAGE - Features & Services */
  .feature-card {
    @apply border-2 border-primary p-8 rounded-lg flex flex-col items-center gap-4;
  }
  .feature-title {
    @apply text-xl font-semibold;
  }
  .feature-description {
    @apply text-center;
  }
  /* LOGIN PAGE */
  .auth-btn {
    @apply w-full rounded-lg text-base text-gray-700 py-2.5 font-semibold transition-all duration-200 ease-out;
  }
  .auth-input {
    @apply border-2 select-none w-full border-gray-300 rounded-md p-2 focus:border-primary focus:outline-none transition-colors duration-300;
  }
  .error-message {
    @apply text-red-500 text-sm ml-1;
  }
  .input-error {
    @apply border-red-500;
  }
  .toggle-password-btn {
    @apply text-gray-500 text-xl hover:text-gray-700;
  }

  /* MESSAGE FILTER */
  .message-filter-icon {
    @apply flex items-center justify-center 
            rounded-xl p-2
            transition-colors duration-200 cursor-pointer
            dark:hover:bg-dark-default-hover-bg /* DARK MODE */
            text-gray-400 hover:text-blue-500 hover:bg-gray-200; /* LIGHT MODE */
  }
  .sort-list {
    @apply absolute left-3 z-10 top-6
            text-center rounded-md shadow-lg 
            overflow-hidden
            transition-all duration-300
            bg-white text-black shadow-gray-400 /* LIGHT MODE */
            dark:bg-dark-dropdown-bg dark:text-dark-primary-text dark:shadow-dark-primary-bg; /* DARK MODE */
  }
  .sort-option {
    @apply py-2 px-4
            transition-colors duration-300 cursor-pointer
            hover:bg-gray-200 /* LIGHT MODE */
            dark:hover:bg-dark-default-hover-bg /* DARK MODE */;
  }
  .sort-option-active {
    @apply text-white 
            bg-primary hover:!bg-[#0582ca];
  }

  /* Navigation */
  .navigation-container {
    @apply transition-all duration-300 
            max-w-[70px] h-full
            flex flex-col justify-between gap-y-4
            bg-navigation-bg /* LIGHT MODE */
            dark:bg-dark-navigation-bg; /* DARK MODE */
  }
  .navigation-icon {
    @apply flex justify-center items-center 
            h-11 w-11 md:h-12 md:w-12
            my-1 mx-auto
            rounded-full
            transition-colors duration-300 cursor-pointer
            text-primary hover:bg-gray-200 /* LIGHT MODE */
            dark:text-dark-primary-text dark:hover:bg-dark-default-hover-bg; /* DARK MODE */
  }
  .active-navigation-icon {
    @apply bg-primary text-white hover:!bg-[#2286c9] shadow-lg;
  }
  /* Side Modal */
  .side-modal-container {
    @apply w-full md:w-[435px] xl:w-[470px] h-screen max-w-[100vw]
            fixed top-0 left-0 z-50
            shadow-xl
            transition-all duration-300
            bg-white /* LIGHT MODE */
            dark:bg-dark-secondary-bg; /* DARK MODE */
  }
  .user-card {
    @apply py-3 px-4
            border-b-2 last:border-b-0 
            transition-colors duration-200 cursor-pointer
            bg-white  hover:bg-gray-100 /* LIGHT MODE */
            dark:bg-dark-primary-bg  dark:border-gray-500 dark:hover:bg-dark-default-hover-bg; /* DARK MODE */
  }
  .create-group-btn {
    @apply mt-2 p-2 
            transition-colors duration-200
            rounded-lg 
            bg-blue-500 text-white hover:bg-blue-600 /* LIGHT MODE */
            dark:bg-dark-primary-bg dark:hover:bg-primary; /* DARK MODE */
  }
  .input-icon {
    @apply absolute text-gray-400 dark:text-primary right-3 top-1/2 -translate-y-1/2;
  }
  /* Upload Image */
  .upload-img {
    @apply w-28 h-28 md:w-40 md:h-40 
            shadow-lg rounded-full 
            mx-auto text-center 
            flex items-center justify-center 
            cursor-pointer
            bg-gray-200;
  }
  .upload-img:hover .overlay {
    @apply block;
  }

  .gallery-item {
    @apply relative;
  }
  .gallery-item:hover .gallery-float-btns {
    @apply opacity-100 -translate-x-2;
  }

  .gallery-item .gallery-float-btns {
    @apply absolute translate-x-8
            right-1 top-1 opacity-0
            flex flex-col gap-2
            transition-all duration-300;
  }

  .gallery-float-btns .float-btn {
    @apply size-7 p-3 flex items-center justify-center rounded-full cursor-pointer transition-all duration-300 
            hover:scale-110;
  }

  /* Gallery Edit tools */
  .gallery-edit-btn {
    @apply flex flex-col items-center justify-center gap-2
            border-2 w-full border-gray-200 rounded-lg 
            p-3 select-none cursor-pointer
            transition-colors duration-300
            hover:bg-gray-200 dark:hover:bg-dark-default-hover-bg; /* DARK MODE */
  }

  /* Settings */
  .settings-option {
    @apply p-4 cursor-pointer
            flex items-center
            hover:bg-gray-100 dark:hover:bg-dark-secondary-bg;
  }
  .choose-bg {
    @apply w-[90px] h-24 
            rounded-xl 
            shadow-md shadow-gray-400 
            relative 
            transition-transform duration-300 cursor-pointer
            hover:scale-105
            dark:shadow-gray-800; /* DARK MODE */
  }
  .theme-options {
    @apply flex items-center gap-x-1 
            py-2 px-4 
            transition-colors duration-200 cursor-pointer 
            text-sm md:text-base 
            hover:bg-[#4fa6d9];
  }

  /* Chat */
  .clip-modal-option {
    @apply px-2 rounded-lg cursor-pointer  hover:bg-gray-500 dark:hover:bg-dark-default-hover-bg;
  }
  .selected-chat {
    box-shadow: inset -4px 0px 0 0 #3a72ec;
  }
  /* Chat Messages */
  .message-container:hover .message-menu-icon {
    opacity: 100;
    z-index: 1;
    background-color: inherit;
  }
  .message-menu-container {
    @apply absolute z-30 top-5
            rounded-lg
            dark:bg-dark-dropdown-bg;
    &.incoming-message {
      @apply -right-20 md:-right-28 lg:-right-32;
      & li {
        @apply bg-gray-500 hover:bg-gray-600
                       dark:bg-dark-incoming-chat-bg dark:hover:bg-dark-incoming-chat-reply-bg;
      }
    }
    &.outgoing-message {
      @apply -left-[7.1rem] md:-left-[8rem] lg:-left-[9.5rem];
      & li {
        @apply bg-[#9ca3af] hover:bg-primary
                        dark:bg-dark-outgoing-chat-bg dark:hover:bg-dark-outgoing-chat-reply-bg;
      }
    }
  }
  .message-menu-list {
    @apply transition-all duration-200 overflow-hidden
            w-28 md:w-36 lg:w-40 text-xs  
            shadow-lg rounded-b-lg
            shadow-gray-400
            dark:shadow-dark-dropdown-bg;
  }
  .message-container:hover .message-menu-icon:hover {
    height: 22px;
    width: 22px;
    & span {
      font-size: 1.2rem ;
    }
  }
  .message-menu-option {
    @apply py-2 px-4
            border-b border-gray-300 last:border-b-0
            transition-colors duration-200 cursor-pointer;
  }
  .message-menu-icon {
    @apply opacity-0
            select-none
            absolute top-0 -z-10 
            bg-inherit leading-none
            transition-all duration-300 cursor-pointer;
  }

  .material-symbols-outlined {
    @apply select-none;
  }

  /* Chat Info */
  .scroll-arrow-btn {
    @apply text-white bg-gray-500 
            h-max p-1 
            rounded-full 
            opacity-90 
            absolute top-1/2 
            transition-all duration-300 cursor-pointer 
            hover:scale-110;
  }
  .input-edit-group-name {
    @apply max-w-[200px] md:max-w-full 
            border-b-2 border-primary rounded-t-lg
            text-xl py-1 pl-4 pr-8
            bg-gray-100 
            dark:bg-dark-default-hover-bg dark:text-white; /* DARK MODE */
  }
  /* Selected File */
  .tools-icon {
    @apply 
    flex items-center justify-center
    cursor-pointer 
    p-2 rounded-full 
    hover:bg-dark-default-hover-bg;
  }

  /* Message Preview */
  .content-preview {
    @apply text-gray-400 mx-1;
  }

  /* AudioRecorder */
  .record-icon {
    @apply w-10 h-10 
            flex items-center justify-center 
            rounded-full 
            cursor-pointer transition-colors duration-200 
            bg-primary hover:bg-default-hover-bg
            text-white;
  }

  /* Add Users Modal */
  .users-modal-container {
    @apply h-5/6 w-full md:w-5/6 
            absolute top-4 z-50
            rounded-xl px-6 shadow-xl
            transition-transform duration-200 ease-in-out 
            bg-gray-100 shadow-gray-400 /* LIGHT MODE */
            dark:bg-[#24272b] dark:text-dark-primary-text dark:shadow-black /* DARK MODE */;
  }
  .user-modal-card {
    @apply flex gap-x-2 
            p-2 w-[85%] 
            overflow-hidden
            border-b-2 last:border-b-0 
            transition-colors duration-200 cursor-pointer
            hover:bg-gray-200 border-primary /* LIGHT MODE */
            dark:hover:bg-dark-default-hover-bg dark:border-white; /* DARK MODE */
  }

  .users-modal-btn {
    @apply bg-primary text-sm md:text-base 
            py-2 w-24 md:w-28 my-6
            rounded-lg tracking-wider
            transition-all duration-200 cursor-pointer
            text-white hover:bg-[#0582ca] /* LIGHT MODE */;
  }

  .notification-msg {
    @apply fixed top-0 left-1/2
            transform -translate-x-1/2
            p-2 rounded-lg
            w-[90%] md:w-[50%] lg:w-[30%] xl:w-[20%];
    &.success {
      @apply bg-primary text-white;
    }
  }

  .reply-message-color {
    @apply text-gray-300 dark:text-gray-400;
  }

  .default-profile-img {
    @apply object-cover rounded-full cursor-pointer transition-all duration-300;
  }

  .editor-tool-btn{
    @apply text-gray-300 rounded-full w-10 h-10 flex items-center justify-center  cursor-pointer transition-all duration-300 hover:bg-gray-600;
  }

  .brush-size-btn {
    @apply bg-gray-700 rounded-full cursor-pointer transition-all duration-300 hover:bg-gray-500 hover:scale-105;
  }
  .brush-color-btn {
    @apply w-6 h-6 rounded-full cursor-pointer transition-all duration-300;
  }
  .content-editable {
    @apply absolute text-white bg-zinc-50/90 p-[2px] rounded-md min-w-14 outline-none whitespace-nowrap
  }

  .file-editor-message-textarea{
    @apply whitespace-pre-wrap resize-none h-auto flex-shrink break-words select-text overflow-x-hidden relative overflow-y-auto w-full bg-dark-input-bg py-2 px-4 rounded-md outline-none caret-white;
  }
}

@layer utilities {
  /* General */
  .ellipsis-text {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  /* End General */

  /* Home Page */
  .drop-shadow-gray {
    filter: drop-shadow(0px 8px 4px rgb(181, 180, 180));
  }
  .drop-shadow-primary {
    filter: drop-shadow(0px 0px 18px #71c6ff);
  }
  .drop-shadow-black {
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 1.9));
  }

  /* End Home Page */

  /* Chat Page */
  .chat-header-shadow {
    box-shadow: -1px 1px 13px 0px #3939395e;
  }
  .chat-bg-img {
    background-image: url("https://res.cloudinary.com/dqkstk6dw/image/upload/v1692202705/background_kcduqa.png");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0.07; */
    z-index: -1;
    transition: all 0.3s ease;
  }
  .chat-bg-color {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s ease;
  }
  .out-going-message {
    @apply bg-primary dark:bg-dark-outgoing-chat-bg ml-auto;
  }
  .incoming-message {
    @apply bg-gray-400 dark:bg-dark-incoming-chat-bg ml-0;
  }
  .input-arrow {
    position: absolute;
    bottom: -0.5875rem;
    right: -1.751rem;
    transition: opacity 200ms;
    font-size: 1rem !important;
    @apply bg-[#e5e7eb] dark:bg-[#2a3942];
  }
  .message-arrow {
    position: absolute;
    bottom: -9.9px;
    left: -1.66rem;
    transition: opacity 200ms;
    font-size: 1rem !important;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    @apply bg-[#9ca3af] dark:bg-[#202c33];
  }

  .message-arrow-left {
    position: absolute;
    bottom: -0.62rem;
    right: -1.75rem;
    transition: opacity 200ms;
    font-size: 1rem !important;
    @apply bg-[#0099ff] dark:bg-[#005c4b];
  }

  .shape {
    width: 3rem;
    height: 3rem;
    clip-path: polygon(41% 56%, 44% 68%, 50% 76%, 57% 80%, 41% 80%);
  }
  /* End Chat Page */

  .dashed-line::after {
    content: "";
    position: absolute;
    top: 79%;
    overflow: hidden;
    height: 500px;
    bottom: 0;
    left: 50%;
    width: 1px;
    transform: translateX(-50%);
    border-right: 2px dashed gray;
  }

  .box-shadow-inner {
    box-shadow: inset 0 0 0 2px #3a72ec;
  }
  .scroll-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scroll-hide::-webkit-scrollbar {
    display: none;
  }
}

/* MUI */
.MuiPopover-paper {
  @apply !top-[81px] !right-[40px] !left-auto;
}
.MuiAvatar-img {
  @apply object-top;
}
