$animal-list-bg: #8092ff;
$season-clock-bg: #92eaf6;
$season-clock-bg-dark: #5882e4;
$count-down-bg: #7ddcff;
$mouse-monitor-bg: #2b2727;
$watcher-app-bg: #03a9f4;
$main-color:#ffffff;
$second-color: #0f0f0f;
$link-color:#eede34;

$main-font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;