.mouse-monitor{
    background-color: $mouse-monitor-bg;
    position: absolute;
    bottom: 0;
    color: $main-color;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
}