.watcher-app {
    height: 70vh;
    background-color: $watcher-app-bg;
    color: $main-color;
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
        font-size: 48px;
        padding: 100px;
    }
}