.watcher-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid;
    img{
        background-color: white;
    }
    .btns-container{
        display: flex;
        gap: 20px;
        align-items: center;
    }
}