.fade-down {
      animation-name: fade-down;
      animation-duration: .5s;
}

@keyframes fade-down {
      0% {
            opacity: 0;
            transform: translateY(-80vh);
      }

      70% {
            opacity: 1;
            transform: translateY(10px);
      }

      100% {
            opacity: 1;
            transform: translateY(-10px);
      }
}

.logo-fade-down {
      animation-name: logo-fade-down;
      animation-duration: 3s;
      animation-fill-mode: forwards;
}

@keyframes logo-fade-down {
      0% {
            opacity: 0;
            transform: translateY(-80vh);
      }

      80% {
            opacity: 1;
            transform: translateY(30vh);
      }

      100% {
            opacity: .5;
            transform: translateY(120vh);
      }
}

.home-btn-animation {
      animation-name: home-btn-animation;
      animation-duration: 1s;
      animation-fill-mode: forwards;
}

@keyframes home-btn-animation {
      from {
            top: 130px
      }

      to {
            top: 94px;
      }
}

@media (min-width: 768px) {
      .home-btn-animation {
            left: unset;
            transform: unset;
      }

      @keyframes home-btn-animation {
            from {
                  right: 40px;
            }

            to {
                  right: -47px;
            }
      }

}


.spinner {
      display: inline-block;
      width: 24px;
      height: 24px;
}

.spinner:after {
      content: " ";
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
      0% {
            transform: rotate(0deg);
      }

      100% {
            transform: rotate(360deg);
      }
}

.slide-right {
      animation-name: slide-right;
      animation-fill-mode: forwards;
      animation-duration: .4s;
}

@keyframes slide-right {
      0% {
            opacity: 0;
            transform: translateX(-75vw);
      }

      100% {
            opacity: 1;
            transform: translateX(0);
      }
}

.slide-left {
      opacity: 0;
      transform: translateX(75vw);
      animation-name: slide-left;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
}

@keyframes slide-left {
      0% {
            opacity: 0;
            transform: translateX(75vw);
      }

      100% {
            opacity: 1;
            transform: translateX(0);
      }
}

.custom-rotate {
      animation-name: custom-rotate;
      animation-duration: .3s;
      animation-fill-mode: forwards;
}

@keyframes custom-rotate {
      0% {
            transform: rotate(0deg);
      }

      100% {
            transform: rotate(-90deg);
      }
}

.reverse-rotate {
      animation-name: reverse-rotate;
      animation-duration: .3s;
      animation-fill-mode: forwards;
}

@keyframes reverse-rotate {
      0% {
            opacity: 1;
            transform: rotate(-90deg);
      }

      100% {
            transform: rotate(0deg);
      }
}

.fade-left {
      animation-name: fade-left;
      animation-duration: .3s;
      animation-fill-mode: forwards;
}

@keyframes fade-left {
      0% {
            opacity: 1;
            transform: translateX(-25vw);
      }

      100% {
            opacity: 0;
            transform: translateX(0);
      }
}

.slide-up {
      animation-name: slide-up;
      animation-duration: 1.2s;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes slide-up {
      0% {
            opacity: 0;
            transform: translateY(125vh);
      }

      100% {
            opacity: 1;
            transform: translateY(0);
      }
}

.fade-grow-up {
      animation-name: fade-grow-up;
      animation-duration: .3s;
      animation-fill-mode: forwards;
}

@keyframes fade-grow-up {
      0% {
            opacity: 0;
            transform: scale(80%);
      }

      100% {
            opacity: 1;
            transform: scale(100%);
      }
}

.fade-grow-up-profile {
      animation-name: fade-grow-up-profile;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      animation-delay: 200ms;
}

@keyframes fade-grow-up-profile {
      0% {
            transform: scale(10%);
      }
      
      100% {
            opacity: 1;
            transform: scale(100%);
      }
}

.fade-grow-up-selected-file {
      animation-name: fade-grow-up-selected-file;
      animation-duration: .3s;
      animation-fill-mode: forwards;
}

@keyframes fade-grow-up-selected-file {
      0% {
            transform: scale(10%);
      }
      
      100% {
            opacity: 1;
            transform: scale(100%);
      }
}