@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
      body {
            @apply text-[#2f3e46];
            background: rgb(59,195,34);
            background: linear-gradient(0deg, rgba(132,169,140,1) 0%, rgba(59,195,34,0) 100%);
      }
}

@layer components {
      /* LOGIN PAGE */
      .login-btn {
            @apply w-full rounded-xl text-gray-700 py-2 font-semibold transition-colors duration-200;
      }
      .login-input {
            @apply border-2 border-gray-300 rounded-md p-2 focus:border-[#84a98c] focus:outline-none  transition-colors duration-300;
      }
      .error-message{
            @apply text-red-500 text-sm;
      }
      .input-error{
            @apply border-red-500;
      }

      /* HEADER */
      .profile-img-header{
            @apply w-11 h-11 rounded-full drop-shadow-lg border-primary border-[3px];
      }
}

@layer utilities{
      .header-animation{
            @apply !transition-all !duration-500 cursor-pointer  hover:scale-110  hover:drop-shadow-[2px_1px_2px_#84a98c];
      }
      .custom-hover{
            @apply transition-opacity duration-300 opacity-80 cursor-pointer hover:opacity-100;
      }
      .cut-text{
            text-overflow: ellipsis;
            overflow: hidden; 
            height: 2rem; 
            white-space: nowrap;
      }
}

.MuiPopover-paper{
      @apply !top-[81px] !right-[40px] !left-auto;
}
