@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

      :root {
            --color-text-base: #242424;
            --color-text-muted: #c7d2fe;
      }

      body {
            @apply text-[#242424] font-sf-regular scroll-smooth overflow-hidden;
      }
      
      ::-webkit-scrollbar {
            width: 5px;
          }
          
          ::-webkit-scrollbar-thumb {
            background-color: #909090;
            border-radius: 3rem;
          }
          
          ::-webkit-scrollbar-track {
            background-color: #CBD5E0;
          }

      :focus-visible {
            outline: none;
      }

      @font-face {
            font-family: 'sf-pro-display';
            src: url('../assets/fonts/SF-Pro-Text-Regular.ttf');
      }
      
      @font-face {
            font-family: 'litia';
            src: url('../assets/fonts/LilitaOne-Regular.ttf');
      }
      
      @font-face {
            font-family: 'alfa';
            font-weight: 600;
            color: #242424;
            src: local('alfa') url('../assets/fonts/AlfaSlabOne-Regular.ttf') format('ttf');
      }
}

@layer components {
      /* LOGIN PAGE */
      .login-btn {
            @apply w-full rounded-xl text-gray-700 py-2 font-semibold transition-colors duration-200;
      }
      .login-input {
            @apply border-2 border-gray-300 rounded-md p-2 focus:border-primary focus:outline-none  transition-colors duration-300;
      }
      .error-message{
            @apply text-red-500 text-sm;
      }
      .input-error{
            @apply border-red-500;
      }

      /* MESSAGE FILTER */
      .message-filter-icon {
            @apply
            flex items-center justify-center 
            rounded-xl p-2
            transition-colors duration-200 cursor-pointer
            dark:hover:bg-dark-default-hover-bg /* DARK MODE */
            text-gray-400 hover:text-blue-500 hover:bg-gray-200; /* LIGHT MODE */
      }
      .sort-list {
            @apply
            absolute left-3 z-10 top-6
            text-center text-white
            overflow-hidden
            transition-all duration-300
            dark:bg-dark-dropdown-bg /* DARK MODE */
            rounded-md;
      }
      .sort-option {
            @apply
            py-2 px-4
            cursor-pointer
            transition-colors duration-300
            dark:hover:bg-dark-default-hover-bg /* DARK MODE */
      }
      .sort-option-active {
            @apply bg-primary hover:!bg-[#0582ca];
      }

      /* Navigation */
      .navigation-container {
            @apply
            transition-all duration-300 
            max-w-[70px] h-full
            flex flex-col justify-between gap-y-4
            /* sticky z-10 */
            bg-navigation-bg /* LIGHT MODE */
            dark:bg-dark-navigation-bg; /* DARK MODE */
      }
      .navigation-icon {
            @apply
            flex justify-center items-center 
            h-11 w-11 md:h-12 md:w-12
            my-1 mx-auto
            rounded-full
            transition-colors duration-300 cursor-pointer
            text-primary hover:bg-gray-200 /* LIGHT MODE */
            dark:text-dark-primary-text dark:hover:bg-dark-default-hover-bg; /* DARK MODE */
      }
      .active-navigation-icon {
            @apply bg-primary text-white hover:!bg-[#2286c9] shadow-lg;
      }

      /* Side Modal */
      .side-modal-container {
            @apply
            w-full md:w-[435px] h-screen
            fixed top-0 left-0 z-50
            shadow-xl
            transition-all duration-300
            bg-white /* LIGHT MODE */
            dark:bg-dark-secondary-bg; /* DARK MODE */
      }
      .user-list {
            @apply 
            flex flex-col
            py-6
            calc-height 
            overflow-auto;
      }
      .user-card {
            @apply
            py-3 px-4
            border-b-2 last:border-b-0 
            transition-colors duration-200 cursor-pointer
            bg-white  hover:bg-gray-100 /* LIGHT MODE */
            dark:bg-dark-primary-bg  dark:border-gray-500 dark:hover:bg-dark-default-hover-bg; /* DARK MODE */
      }
      .create-group-btn {
            @apply
            mt-2 p-2 
            transition-colors duration-200
            rounded-lg 
            bg-blue-500 text-white hover:bg-blue-600
            dark:bg-dark-primary-bg dark:hover:bg-primary;
      }

      .upload-img{
            @apply
            w-28 h-28 md:w-40 md:h-40 
            shadow-lg rounded-full 
            mx-auto text-center 
            flex items-center justify-center 
            cursor-pointer
            bg-gray-200; 
      }
      .upload-img:hover .overlay{
            @apply block;
      }

      /* Settings */
      .choose-bg {
            @apply 
            w-[90px] h-24 
            rounded-xl 
            shadow-md shadow-gray-400 
            relative 
            transition-transform duration-300 cursor-pointer
            hover:scale-105
            dark:shadow-gray-800;
      }
      .theme-options {
            @apply 
            flex items-center gap-x-1 
            py-2 px-4 
            transition-colors duration-200 cursor-pointer 
            text-sm md:text-base 
            hover:bg-[#4fa6d9];
      }

      /* Chat */
      .clip-modal-option {
            @apply px-2 rounded-lg cursor-pointer  hover:bg-gray-500 dark:hover:bg-dark-default-hover-bg;
      }

      /* Chat Info */
      .scroll-arrow-btn {
            @apply 
            text-white bg-gray-500 
             h-max p-2 
            rounded-full 
            opacity-90 
            sticky top-1/2 
            transition-all duration-300 cursor-pointer 
            hover:scale-110;
      }
      /* Selected File */
      .tools-icon {
            @apply cursor-pointer h-max p-1 rounded-full hover:bg-gray-500;
      }

      /* Message Preview */
      .content-preview {
            @apply text-gray-400 mx-1;
      }

      /* AudioRecorder */
      .record-icon {
            @apply w-10 h-10 flex items-center justify-center rounded-full cursor-pointer transition-colors duration-200 dark:hover:bg-dark-default-hover-bg;
      }
}

@layer utilities{
      .custom-hover{
            @apply transition-opacity duration-300 opacity-80 cursor-pointer hover:opacity-100;
      }
      .ellipsis-text{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
      }
      .hide-scrollbar::-webkit-scrollbar {
            display: none;
            -ms-overflow-style: none; 
            scrollbar-width: none; 
      }
      .drop-shadow-gray {
            filter: drop-shadow(0px 10px 6px gray);
      }
      .drop-shadow-primary {
            filter: drop-shadow(0px 0px 18px #71c6ff);
      }
      .custom-shadow {
            box-shadow: 0 10px 62px 6px #0099ff4f;
            transform: scale(1.02);
            font-weight: bold;
      }
      .chat-header-shadow {
            box-shadow: -1px 1px 13px 0px #3939395e;
      }
      .fixed-bg {
            background-image: url('https://res.cloudinary.com/dqkstk6dw/image/upload/v1692202705/background_kcduqa.png');
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.2;
            z-index: -1;
      }
      .calc-height {
            max-height: calc(100vh - 150px);
      }
      .messenger-grid{
            display: flex;
            flex-direction: column;
            /* height: 100%; */
            width: 100%;
            /* display: grid;
            grid-template-rows:auto 1fr auto; */
      }
}

.MuiPopover-paper{
      @apply !top-[81px] !right-[40px] !left-auto;
}
.MuiAvatar-img{
      @apply object-top;
}

