@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

      :root {
            --color-text-base: #242424;
            --color-text-muted: #c7d2fe;
      }

      body {
            @apply text-[#242424] font-sf-regular scroll-smooth;
      }
      
      ::-webkit-scrollbar {
            width: 5px;
          }
          
          ::-webkit-scrollbar-thumb {
            background-color: #40916c;
          }
          
          ::-webkit-scrollbar-track {
            background-color: #CBD5E0;
          }

      :focus-visible {
            outline: none;
      }

      @font-face {
            font-family: 'sf-pro-display';
            src: url('../assets/fonts/SF-Pro-Text-Regular.ttf');
      }
      
      @font-face {
            font-family: 'litia';
            src: url('../assets/fonts/LilitaOne-Regular.ttf');
      }
      
      @font-face {
            font-family: 'alfa';
            font-weight: 600;
            color: #242424;
            src: local('alfa') url('../assets/fonts/AlfaSlabOne-Regular.ttf') format('ttf');
      }
}

@layer components {
      /* LOGIN PAGE */
      .login-btn {
            @apply w-full rounded-xl text-gray-700 py-2 font-semibold transition-colors duration-200;
      }
      .login-input {
            @apply border-2 border-gray-300 rounded-md p-2 focus:border-primary focus:outline-none  transition-colors duration-300;
      }
      .error-message{
            @apply text-red-500 text-sm;
      }
      .input-error{
            @apply border-red-500;
      }

      /* MESSAGE FILTER */
      .message-filter-icon {
            @apply hover:text-blue-500 hover:bg-gray-200 p-2 dark:hover:bg-dark-secondary-bg flex items-center justify-center rounded-xl transition-colors duration-200 cursor-pointer;
      }
      .sort-option {
            @apply py-2 px-4 cursor-pointer transition-colors duration-300
      }
      /* SIDE MENU */
      .side-icon {
            @apply flex justify-center h-11 md:h-12 text-primary dark:text-dark-primary-text my-1 mx-3 md:mx-[9px] items-center  rounded-[20px] cursor-pointer transition-colors duration-300 hover:bg-gray-200 dark:hover:bg-dark-secondary-bg;
      }
      .active-side-icon {
            @apply bg-primary dark:bg-dark-secondary-bg text-white  hover:bg-[#2286c9];
            box-shadow: 0 6px 9px 3px #95c1df;
            @apply dark:shadow-dark;

      }
      .messenger{
            display: grid;
            grid-template-rows:auto 1fr auto ;
      }

      /* Create Group */
      .upload-img{
            @apply w-32 h-32 rounded-full mx-auto text-center bg-gray-200 flex items-center justify-center cursor-pointer;
      }
      .upload-img:hover .overlay{
            display: block;
      }

      /* Settings */
      .choose-bg {
            @apply w-24 h-28  rounded-xl cursor-pointer ;
      }
      .theme-options {
            @apply flex items-center gap-x-1 py-3 px-4 transition-colors duration-200 cursor-pointer hover:bg-secondary dark:hover:bg-dark-tertiary-bg;
      }

      /* Chat */
      .clip-modal-option {
            @apply px-2 rounded-lg cursor-pointer  hover:bg-gray-500 dark:hover:bg-dark-tertiary-bg;
      }

      /* Chat Info */
      .scroll-arrow-btn {
            @apply text-white bg-gray-500 w-max rounded-full p-2 opacity-90 fixed top-[56%] 
            cursor-pointer transition-all duration-300 hover:scale-110 hover:shadow-lg hover:shadow-gray-500;
      }
      /* Selected File */
      .tools-icon {
            @apply cursor-pointer h-max p-1 rounded-full hover:bg-gray-500;
      }

      /* Message Preview */
      .content-preview {
            @apply text-gray-400 mx-1;
      }
}

@layer utilities{
      .custom-hover{
            @apply transition-opacity duration-300 opacity-80 cursor-pointer hover:opacity-100;
      }
      .cut-text{
            text-overflow: ellipsis;
            
            overflow: hidden; 
            height: 2rem; 
            white-space: nowrap;
      }
      .hide-scrollbar::-webkit-scrollbar {
            display: none;
            -ms-overflow-style: none; 
            scrollbar-width: none; 
      }

      .drop-shadow-gray {
            filter: drop-shadow(0px 10px 6px gray);
      }
      .drop-shadow-primary {
            filter: drop-shadow(0px 0px 18px #71c6ff);
      }
      .custom-shadow {
            box-shadow: 0 10px 62px 6px #0099ff4f;
            transform: scale(1.02);
            font-weight: bold;
      }
      .chat-header-shadow {
            box-shadow: -1px 1px 18px 0px #393939;
      }
}

.MuiPopover-paper{
      @apply !top-[81px] !right-[40px] !left-auto;
}
.MuiAvatar-img{
      @apply object-top;
}

